{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div style="width: 100%;" class="bg-white">
    <div class="text-center bg-white delivery-banner">
      <div class="bg-white text-white banner-content">
        <h4 class="banner-text">Use code <strong>"TENOFF10"</strong> for  10%  off your order! <i class="fas fa-tags fa-1x" aria-hidden="true"></i></h4>
        <button class="banner-close" type="button">
          <span class="material-icons">
            close
          </span>
        </button>
  
      </div>
    </div>
  </div>
<div class="overlay"></div>
<div class="container mb-5 basket mt-5">
    <div class="row">
        <div class="col">
            <h2 class="mb-4 mt-5 ml-5">Favourites</h2>
            <hr>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <p class="lead mb-5 ml-5">Your favourite list is empty.</p>
            <hr>
            <a href="{% url 'products' %}"
                class="btn btn-outline-black border-black rounded-1 btn-lg mb-5 ml-5 bg-white">
                <span class="icon">
                    <i class="fas fa-chevron-left text-black"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
           
    </div>
</div>
</div>
{% endblock %}
        <!-- 
            <p class="lead mb-5 ml-5">Your favourites are empty.</p>
            <hr>
            <a href="{% url 'products' %}"
                class="btn btn-outline-black border-black rounded-1 btn-lg mb-5 ml-5 bg-white">
                <span class="icon">
                    <i class="fas fa-chevron-left text-black"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            
        <p class="lead my-5">Please Sign In To View Your Favourites.</p>
        <a href="{% url 'account_login' %}"
        class="btn btn-outline-black border-black rounded-1 btn-lg mb-5 ml-5 bg-white">
        <span class="icon">
            <i class="fas fa-chevron-left text-black"></i>
        </span>
        <span class="text-uppercase">Sign In</span>
    </a>
         -->
