<div class="row mb-4">
    <div class="col">
<a href="{% url 'products' %}" class="btn btn-outline-black border-black rounded-1 button">
    <span class="icon">
        <i class="fas fa-chevron-left text-black"></i>
    </span>
    <span class="text-uppercase">Keep Shopping</span>
</a>
    <a href="{% url 'checkout' %}" class="btn btn-black rounded-1 text-white button" aria-label="To Checkout">
    <span class="text-uppercase text-white">Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>
</div>
</div>
</div>

