html {
    height: 100%;
}

body {
    font-family: 'Lato';
    min-height: calc(100vh - 246.71 - 417.91);
}

.text-black {
  color: #000 !important;
}
.border-black {
  border: 1px solid #33353d !important;
}

.bg-background {
  background: #33353d!important;
}

.btn-black {
  background: #33353d!important;
}

ul {
  padding: 0;
  margin: 0;
  list-style: 0;
  text-align: center
}
li {
  display: inline-block;
}

/* Navigation */
.logo {
  color: #e74c3c;
  font-family: 'DynaPuff', cursive;
  font-weight: 300;
  font-size: 3.5vw;
  line-height:1.3;
}
/* .fas {
  font-size: 1vw;
} */
.font-a 
{
  padding-top: 5px;
}

.logo span {
  color: #33353d;
  display: inline-block;
  line-height: 1.8;
  padding: 0 16px;
}
.nav-link{
  font-size: 18px;
}
.nav-text {
  color: #fff;
}

/* Search bar input & button */
/* From Bulma */
.icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
  color: #fff;
}
.searchbar-input {
  border: 2px solid #33353d;
  background: #f5f5f5;
  transition: 0.25s, box-shadow 0.25s;
  
}

.searchbar-input:focus {
  background: white;
  box-shadow: 2px 2px #c8c8c8, -0.3em 0 .2em #c8c8c8;
}

.searchbar-input::placeholder {
  color: #a49f9f;
}

.searchbar-button {
  outline: none;
  border: none;
  cursor: pointer;
  user-select: none;
  color: #fff;
}
.searchbar-button:focus {
box-shadow: 2px 2px #c8c8c8, -0.3em 0 .2em #c8c8c8;
}


.searchbar-button:active {
  box-shadow: inset 0 0 30px #a49f9f;;
}

/* Hero Image and text */
.carousel-item img{
    width: auto;
    height: auto;  
}

.game-text{ 
    color: white;
    font-size: 4vw;
    text-shadow: 3px 3px 3px black;

}

.shop-now-button {
  color: #fff;
  background-color: #e74c3c;
  margin-bottom: 30%;
  padding: 2px;
  font-size: 2.5vw;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.shop-now-button:hover {
  transform: scale(1.1);
  color: #fff;
}
.nav-background{
  background-color:#33353d;
}
.main-nav{
color: #ffff;
}

/* Free delivery banner */
.delivery-banner {
  background: #33353d;
  object-fit: cover;
  width: 100%;
  height: 65px;
  padding: 0px;
}
.banner{
  left: 0;
  right: 0;
}
.qty_input {
  text-align: center;
  width: 100%;
}

.banner-content {
  padding: 16px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.banner-text {
  width: 100%;
  flex-grow: 1;
  line-height: 1.4;
  font-size: 2vw;

}

.banner-close {
  background: #fff;
  border: none;
  cursor: pointer;
}

.banner-text,
.banner-close > span {
  color: #000;
}

.overlay {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: white;
  z-index: -1;
}
.horizontal-rule{
  margin-bottom: 12em;
}

/* footer */
.site-footer {
  background-color:#26272b;
  padding: 45px 0 20px;
  font-size:15px;
  line-height: 24px;
  color:#737373;
    
}

.site-footer hr {
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small {
  margin:20px 0
}

.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a {
  color:#737373;
}

.site-footer a:hover {
  color:#3366cc;
  text-decoration:none;
}

.footer-links {
  padding-left:0;
  list-style:none
}

.footer-links li {
  display:block
}

.footer-links a {
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#3366cc;
  text-decoration:none;
}

.footer-links.inline li {
  display:inline-block
}

.site-footer .social-icons {
  text-align:right
}

.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d;
}

.copyright-text {
  margin:0
}

.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li {
  display:inline-block;
  margin-bottom:4px;
}

.social-icons li.title {
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social{
  margin-top: 12px;
}

.social-icons a {
  background-color:#eceeef;
  color: #818A7A;
  font-size:16px;
  display: inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition: all .2s linear;
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#29aafe
}

.social-icons.size-sm a {
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover {
  background-color:#3b5998
}

.social-icons a.twitter:hover {
  background-color:#00aced
}

.social-icons a.instagram:hover {
  background-color:#a55cd0
}

.social-icons a.youtube:hover {
  background-color:#FF0000
}
/* Back to  top button */
#scrollToTopBtn{
 position: fixed;
 right: 15px;
 bottom: 15px;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 border: none;
 background-color: #33353d;
} 

#scrollToTopBtn i{
  font-size: 15px;
}

#scrollToTop-link {
  cursor: pointer;
} 

#scrollToTopBtn:active {
  background-color: #7a7a7a;
}

.update-link,
.remove-item {
  cursor: pointer;
}
/* ------------------------------- bootstrap toasts */

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}
/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 4px solid transparent;
  border-right: 4px solid transparent; 
  border-bottom: 10px solid black;
  position: absolute;
  top: -10px;
  right: 36px;
}

/* Classes for messages colors */

.border-success {
  border-color: #2db300 !important;
}

.border-error {
  border-color: #ff3300 !important;
}

.border-warning {
  border-color: #ffbd07 !important;
}

.border-info {
  border-color: #1778b8 !important;
}

.cart-notification-wrapper {
  height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* MailChimp */
#mc_embed_signup{
  background:#26272b; 
  color: #fff;
  clear:left; 
  font:14px Helvetica,Arial,sans-serif;  
  width:600px;
}

/* Media Queries */
@media (max-width: 1229px) {
  #mc_embed_signup{
      width: 500px;
}}
@media (max-width: 1185px) {
  .shop-now-button{
    margin-bottom: 25%;
  }
  .basket-btn{
    font-size: 13px;
    padding-top: 8px;
  }
}
@media (max-width: 1047px) {
  .logo .logo-span{
        
        
}}
@media (max-width: 1031px) {
  #mc_embed_signup{
      width: 400px;
}}
@media (max-width:992px) {
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  body {
    height: calc(100vh - 116px);
}
.nav-background{
  background-color:#fff;
}
.nav-text {
  color: #000;
  font-weight: 0;
}
i{
  font-size: 14px;
}

}

@media (max-width: 830px) {
  #mc_embed_signup{
      width: 370px;}

.banner-text {
  width: 100%;
  flex-grow: 1;
  line-height: 1.4;
  font-size: 1rem;
}}

@media (max-width:767px) {
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
@media (max-width: 650px) {
  .font-a 
  {
    font-size: 0.7em; 
  }
}
@media (max-width: 490px) {
  .shop-now-button{
    margin-bottom: 5%;
}}

@media (max-width: 430px) {
  #mc_embed_signup{
      width: 306px;
}}


@media (max-width: 424px) {
.banner-text {
  width: 100%;
  flex-grow: 1;
  line-height: 1.4;
  font-size: 3.4vw;
}
.nav-link{
  padding: 0.15rem;
}}


.basket{
  margin: auto;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 10px #20212233;
  height: auto;
  /* background-color: #fbf7f7 */
  background-color: #f8f9fa

  ;
}

.shop {
  background-color: #33353d;
  color:#fff;
}
