<div class="collapse navbar-collapse main-nav1" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
            <li class="nav-item">
                <a class="nav-link mr-5 font-weight-bold" href="{% url 'home' %}">
                    <span class="nav-text">Home</span>
                </a>
            </li>
        
            <li class="nav-item dropdown">
                <a class="nav-link mr-5 font-weight-bold" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                       <span class="nav-text">Playstation</span></a>
                <div class="dropdown-menu border-0" aria-labelledby="Playststion-games-&-console">
                    <a href="#" class="dropdown-item">PS5 Games</a>
                    <a href="#" class="dropdown-item">PS4 Games</a>
                    <a href="#" class="dropdown-item">Consoles</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link mr-5 font-weight-bold" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="nav-text">Xbox</span></a>
                <div class="dropdown-menu border-0" aria-labelledby="Xbox-games-&-console">
                    <a href="#" class="dropdown-item">Xbox X/S Games</a>
                    <a href="#" class="dropdown-item">Xbox One Games</a>
                    <a href="#" class="dropdown-item">Consoles</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link mr-5 font-weight-bold" href="#" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                     <span class="nav-text">Nintendo</span></a>
                <div class="dropdown-menu border-0" aria-labelledby="nintendo-games-&-console">
                    <a href="#" class="dropdown-item">Nintendo Games</a>
                    <a href="#" class="dropdown-item">Consoles</a>
                </div>
            </li>
    </ul>
</div>